/* CadastroProduto.module.css */

.main {
    width: 100%;
    border-top: 2px solid black;
}

.container {
    margin: 0 auto;
    padding: 20px; /* Aumentei o padding para espaçamento interno */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 70%;
    margin-top: 20px; /* Aumentei o margin-top para espaçamento superior */
}

.lado_lado {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; /* Espaçamento inferior entre os formulários */
}

h1 {
    font-size: 2.5rem; /* Reduzi o tamanho da fonte do título */
    text-align: center;
    margin-bottom: 16px;
}

.form {
    width: 45%; /* Ajustei a largura para melhor distribuição */
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.field input,
.field textarea,
.field select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem; /* Tamanho da fonte ajustado */
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaçamento superior entre o formulário e o botão */
}

.actions button {
    padding: 12px 20px; /* Aumentei o padding do botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem; /* Tamanho da fonte ajustado */
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    border: 2px solid #F3B44C;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    cursor: pointer;
}

.actions button:hover {
    background-color: #F3B44C;
    border-color: #F3B44C;
    color: #000;
}

.actions button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
