/* Navegação Principal */
.navColection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 0.5% 5%;
}

/* Cabeçalho Principal */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 5%;
}

.header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo img {
    width: 35px;
}

.logo {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Poppins';
    background-color: white;
    color: #000;
    border: 2px solid #F3B44C;
    transition: 0.5s;
}

.logo:hover {
    background-color: #F3B44C;
    border: 2px solid #F3B44C;
    color: #000;
}

.header .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .header-right input[type=search] {
    width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
}

.header .header-right button {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Poppins';
    background-color: white;
    color: #000;
    border: 2px solid #F3B44C;
    transition: 0.5s;
}

.header .header-right button:hover {
    background-color: #F3B44C;
    border: 2px solid #F3B44C;
    color: #000;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

/* Contêiner de Usuários */
.container-usuarios {
    margin: 50px auto;
    width: 90%;
}

#quadrado {
    border: 1px solid #ddd;
    position: relative;
    width: 100%;
    height: 3rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

#quadrado.ampliado {
    height: 15rem;
}

#campos {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 4%;
}

#quadrado.ampliado #campos {
    display: block;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.inputs-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.botaoCadStatus {
    align-items: center;
    padding-top: 3%;
}

.btnCadStatus {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Poppins';
    background-color: white;
    color: #000;
    border: 2px solid #F3B44C;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btnCadStatus:hover {
    background-color: #F3B44C;
    border-color: #F3B44C;
    color: #000;
}

.filtroStatus {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1% 3% 0;
}

/* Tabela de Produtos */
.tabela-usuario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-usuario th,
.tabela-usuario td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.tabela-usuario th {
    background-color: #f2f2f2;
}

/* Sidebar */
.sideBar {
    height: 0;
}

.sideBar .open {
    height: 30vh;
}


.buttons{
    display: flex;
    justify-content: space-around;
}

.tabela-usuario .acao-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

.tabela-usuario .acao-buttons button {
    margin: 0 8px;
    padding: 8px 16px;
    background-color: #F3B44C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.tabela-usuario .acao-buttons-acoes button {
    margin: 0 8px;
    padding: 8px 16px;
    background-color: #F3B44C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.acao-buttons button:hover {
    background-color: #FF8C00;
}

.acao-buttons button.editar {
    background-color: #F3B44C;
}

.acao-buttons button.movimentacao {
    background-color: #57de79;
}

.acao-buttons button.excluir {
    background-color: #ff4d4d;
}

/* Modal */
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modalContainer h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modalContainer input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .modalButtons button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .modalButtons button:hover {
    background-color: #f3b44c;
    color: #fff;
  }

  /* Botão Exportar Relatório */
.exportarRelatorio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3B44C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.exportarRelatorio img {
    width: 20px;
    margin-right: 10px;
}

.exportarRelatorio:hover {
    background-color: #FF8C00;
}

/* Botões Salvar, Desfazer, Refazer */
.acoes-salvar {
    display: flex;
    justify-content: right;
    gap: 10px;
    width: 100%;
    margin-top: 8px;
}

.acoes-salvar button {
    background-color: #F3B44C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.acoes-salvar button:hover {
    background-color: #FF8C00;
}