/* Adicione ao seu arquivo CSS */

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonte padrão */
body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  height: 100%;
}

/* Estilos da header */
.header {
  background-color: #262626;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: white;
  max-width: 60px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Alteração para ajustar os links na vertical */
  padding-left: 0; /* Remoção do espaçamento à esquerda */
}

.nav-links li {
  margin-bottom: 20px; /* Espaçamento entre os itens do menu */
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.btn-entrar {
  padding: 12px 25px;
  background-color: #eaac47;
  color: white;
  border: solid 1px white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.6s;
}

.btn-entrar:hover {
  background-color: #ce8132;
  color: white;
  transform: scale(1.1);
  border: 1px solid white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 50%;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #8888885b;
}

::-webkit-scrollbar-thumb {
  background: #8888885b;
  border-radius: 6px;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
  list-style: none;
  border-radius: .25rem;
  background-color: white!important;
  margin-left: 132px;
  font-style: italic;
  color: #262626;
}

ul.breadcrumb li {
  display: inline;
  font-size: 11px;
  text-decoration: none;
  color: #eaac47 !important;
  padding: 4px;
}

ul.breadcrumb li+li:before {
  padding: 4px;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #262626;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #422dff !important;
  text-decoration: underline;
}

ul.breadcrumb a.localAtual {
  font-weight: bold;
  color: #eaac47;
  text-decoration: underline;
}

/* Estilos específicos para a NavBar lateral */
.superior {
  background-color: #262626;
  padding: 20px;
  color: white;
  margin: auto 0px auto 55px;
  display: flex;
  justify-content: flex-end;
}

.fotoPerfil {
  max-width: 35px;
  margin: auto;
}

.perfil {
  display: flex;
  align-items: center;
}

/* Estilos da NavBar lateral */
.main-menu {
  background-color: #262626;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 62px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 272px;
  overflow: hidden;
  opacity: 1;
}

.main-menu>ul {
  margin: 20px 0; /* Espaçamento maior entre os itens do menu */
}

.main-menu li {
  position: relative;
  display: block;
  width: 100%; /* Ajuste para ocupar toda a largura disponível */
}

.main-menu li>a {
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px; /* Espaçamento interno dos itens do menu */
  transition: all 0.2s ease;
}

.main-menu .nav-icon {
  font-size: 20px; /* Tamanho dos ícones */
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.main-menu .nav-text {
  font-size: 14px;
}

nav {
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* Estilos de interação */
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  background-color: #eaac47;
}

/* Ícones e textos */
#iconeCadastrar {
  margin: auto;
}

#textoCadastrarFuncionario {
  margin: auto;
  padding: auto;
}

.item-menu {
  padding-left: 20px;
  padding-bottom: 10px;
}
